@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

h2,h3 {
	font-weight: normal;
}

header {
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
	position: fixed;
	z-index: 10;
}

.header {
	width: 1140px;
	margin: 0 auto;
}

.header-left {
	float: left;
}

.header-left img {
	width: 124px;
	margin: 20px 0;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #fff;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.top {
	background-image: url(https://prog-8.com/images/html/advanced/top.png);
	background-size: cover;
	padding: 180px 0 120px;
	text-align: center;
}

.top-element{
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.top h1,p {
	color: #fff;
}

.top h1 {
	opacity: 0.7;
}

.top p {
	opacity: 0.7;
}

.midasi h1 {
	margin: 30.15px 0 30.15px;
	letter-spacing: 5px;
	font-size: 45px;
}

.midasi p {
	font-size: 16px;
	margin: 16px 0 16px;
}

.top-element p {
	margin: 0;
}

.newbtn {
	background-color: #239b76;
}

.fa{
	margin-right: 5px;
}

.facebook {
	background-color: #3b5998;
	margin-right: 10px;
}

.twitter {
	background-color: #55acee;
}

.btn {
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	padding: 8px 24px;
	opacity: 0.8;
}

.btn:hover {
	opacity: 1;
}

.lesson {
	height: 620px;
	background-color: #f7f7f7;
	margin: 0 auto;
	padding-left: 5%;
    padding-right: 5%;
}

.lesson-width{
	width: 1140px;
	text-align: center;
	margin: 0 auto;
}

.lesson-text {
	padding: 80px 0 50px;
	color: #5f5d60;
}

.lesson-group {
	width: 25%;
	float: left;
}

.lesson-group p {
	color: #b3aeb5;
}

.icon {
	position: relative;
	text-align: center;
}


.icon p {
	position: absolute;
	top: 90px;
	width: 100%;
	color: #fff;
}

.icon-text {
	width: 80%;
	font-size: 13px;
	display: inline-block;
}

.icon-text p {
	margin: 15px 0 13px;
}

.clear {
	clear: left;
}

.container {
	text-align: center;
	padding: 0 15px 80px;
	border-bottom: 1px solid #eee;
}

.text{
	padding: 80px 0 50px;
	color: #5f5d60;
}

.developmentbtn {
	padding: 15px 40px;
	background-color: #5dca88;
	box-shadow: 0 7px #1a7940;
	cursor: pointer;
}

.developmentbtn p {
	margin: 0;
}

.developmentbtn:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}

.footer {
	width: 1170px;
	padding: 30px 15px 20px;
	margin: 0 auto;
}

.footer p {
	color: #b3aeb5;
	font-size: 12px;
	opacity: 1;
}

.footer img {
	width: 125px;
}