@charset "utf-8";
/* CSS Document */

@media all and (max-width: 520px) {
	
.inner {
  width: 85%; /* 好きな幅 */
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
  background: #fff59d;
}
	
}