@charset "utf-8";
/* CSS Document */

@media all and (max-width: 980px)/* タブレット */ {
		
}

@media all and (max-width: 560px)/* スマホ */ {
	header {
		position: fixed;
		z-index: 10;
		top:0;
	}
		
}