@charset "utf-8";
/* CSS Document */


@media all and (max-width: 980px) {
	body{
		width: 100%;
		margin: 0;
	}	
	
.body-margin {
		margin: 60px 45px 60px;
}
	
.body-center{
	width: 700px;
	margin: 0 auto;
}
	
	.title{
		float: none;
	}
	
.menu-div {
	display: block;
	text-align: left;
	padding-top: 0;
}
	
.arrow1 {
	padding-left: 0;
	
}
	
.arrow1::after {
     position: absolute;
     top: 45%;
     left: 30%;
}
	
.arrow2::after {
     position: absolute;
     top: 45%;
     left: 46%;
}
	
.search-form {
	bottom: 0;
	display: inline-block;
	position: absolute;
	top: 170px;
	right: 130px;
}
	
.main {
	width: 700px;
	margin: 0 auto;
}
	
.main img {
	width: 700px;
	height: 338.16px;
	display: block;
}
	
.home-text {
	margin: 0 auto 95px;
	width: 700px;
	word-wrap: break-word;
}
	
.article {
	width: 700px;
	margin: 0 auto 75px;
}
	
.article p {
	width: 700px;
	word-wrap: break-word;
	}
	
	.day {
	height: 30px;
	float: none;
	margin-bottom: 8px;
	}
	
.footer {
	width: 700px;
	margin: 0 auto;
}

	
.profile-text {
		width: 700px;
	}
	
.footer-1{
	width: 700px;
	height: 166px;
	float: none;
	padding: 0;
	margin-bottom: 60px;
}

.footer-right {
	float:none;
}

.footer-2,.footer-3,.footer-4 {
	float: none;
}

.footer-2 {
	width: 700px;
	height: 170.78px;
	margin-bottom: 60px;
	padding: 0;
}

.footer-3 {
	width: 700px;
	height: 230px;
	margin-bottom: 60px;
	padding: 0;
}

.footer-4 {
	width: 700px;
	height: 158px;
	margin-bottom: 60px;
	padding: 0;
}
	
.footer-4-search{
	float: left;
}
	
.search-2 {
	width: 212px;
	height: 40px;
	border: 1px solid #e6e6e6;
	color: #777;
	font-size: 18px;
	padding: 10.1314px;
	margin-bottom: 75px;
	float: none;
}
	
.site {
	width: 700px;
	float: none;
}
	
.sns-link {
	width: 700px;
	margin-bottom: 25px;
}
	
.site-link {
	width: 100%;
	text-align: left;
	float: none;
	margin-top: 50px;
	padding: 0 0 24px 0;
	
}
	
}

@media all and (max-width: 785px) {
	
body{
		margin: 0;
		overflow-wrap:break-word;
		box-sizing: border-box;
	}
	
	h2{
	font-size:12.24px;
}

strong {
	font-size: 15.8287x;
}
	
.main-menu{
		display: block;
	}
	
.hamburger-box {
  display:block;
}
	
.body-margin {
	margin: 45px 20px 45px;
}
	
.body-center{
	margin: 0 auto;
}
	
	.title h1 {
	font-size: 30px;
}

.title p {
	font-size: 15px;
}
	
	.menu-div{
    display:none;
  }
	
	.main {
	margin: 0 auto;
}

	.main-img {
		margin: 0 auto;
	}
	
	.main-img img {
		width: 100%;
		height: auto;
		padding:40px 0 20px;
	}

	.home-text{
	font-size: 23px;
	word-wrap: break-word;
	margin: 0 auto 70px;
	}
	
.article {
	margin: 0 auto 60px;
}
	
	.article p {
	word-wrap: break-word;
	}
	
	.day{
		font-size: 14.07px;
		margin-bottom: 0;
	}
	
	.text {
	font-size: 14.07px;
	
}
	
	.text h2 {
	font-size: 19.04px;
}
	
	.nav {
		display:none;
	}
	
	.nav-2 {
		display:none;
	}
	
.footer {
	margin: 0 auto;
}
	
	.profile-text{
	}
	
	.footer-1 {
	}
	
	.footer-1 p {
	font-size: 14.07px;
}

	.footer-2 {
	}
	
	.footer-3 p {
	font-size: 12.1987px;
}
	.footer-3,.footer-4 a {
	font-size:14.07px;
}
	
	.search-2 {
	width: 320px;
	height: 34.88px;
	font-size:14px;
	padding: 8.442px;
}
	
	.site {
	padding-top: 45px;
	margin: 0 auto;
}
	
	.site-link {
	font-size: 13.152px;
	width: 300px;
	
}
	
}
